################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QP8.EFCore/obj
/CodeGeneration/obj
/CodeGeneration/bin/Debug/netcoreapp2.1
/QP8.EFCore/bin/Debug/netcoreapp2.1
