################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QP8.EFCore/obj
/CodeGeneration/obj
/CodeGeneration/bin/Debug/netcoreapp2.1
/QP8.EFCore/bin/Debug/netcoreapp2.1
/EntityFrameworkCore.Templates/bin/Debug/netcoreapp2.1/EntityFrameworkCore.Templates.deps.json
/EntityFrameworkCore.Templates/obj
/EntityFrameworkCore.CodeGeneration/obj
/EntityFrameworkCore.Data/obj
/EntityFrameworkCore.CodeGeneration/bin/Debug
/EntityFrameworkCore.Data/bin/Debug/netcoreapp2.1
/EntityFrameworkCore.Templates/bin/Debug/netcoreapp2.1
/EntityFrameworkCore.Tests/bin/Debug/netcoreapp2.1
/EntityFrameworkCore.Tests/obj
/EntityFrameworkCore.Data/bin/Debug/netstandard2.0
/EntityFrameworkCore.Tests/bin/Debug/netstandard2.0
